.main
{
     width: 100%; height: 100%; float: left;
}
.first-tag
{
    top: 10px; left: 0; height: 20px; background-color: bisque; width: 40%;position: relative;
}
.second-tag
{
    top: 10px; margin-top: 5px; left: 0; height: 20px; background-color:coral; width: 40%;position: relative;
}
.margin-adjust
{
    margin: 2%;
    color: red;
    font-weight: bold;
}
.super-padding
{
    padding: 20px;
}
.cntr
{
    text-align: center;
}
.brand-color
{
    color: #333333;
}
.price-tag
{
    color: red; font-size: 20px; float: left; margin: 10px 0px;
}
.price-strike
{
    color: #333333; font-size: 15px;  margin: 15px 15px;
}
.leftt
{
    float: left;
}