.txtt
{
    text-align: center;
    font-size: 100px    ;
}
.top-center {
    position: absolute; 
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
    }
    .top-left {
      position: absolute; 
    top: 30%;
    left: 0%;
    margin: 5%;
    align-content: left;
      }
      .top-right {
        position: absolute; 
        top: 30%;
        right: 0%;
        margin: 5%;
        direction: rtl;
        align-content: right;
            }
  .rel-position{
  position: relative;
  color: black;
  }
.medium-font-size
{
    font-size: 35px;
    margin: 15px 0px;
}
.buton-slider
{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 15px 0px;
}