    .flex-item-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 18px;
    margin: 20px;
    padding: 30px;
  }
  
  .flex-item {
    flex: 25%;
  }
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item{
      flex: 50%;
    }
  }