// :root
// {    
// }
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.announcement-bar
{
background-color: #1e2d7d;
color: #ffffff;
padding-left: 5%;
height: 40px;
border-bottom:0.5px solid #ffffff;
}
.inner
{
    padding: 10px 0;
    display: inline;
    margin: auto; 
}
.header
{
    background-color: #1e2d7d;
    position: relative;
    position: sticky;
    top: 0;
}
.email-inner
{
    padding: 10px ;display: block; background-color:#5dbfe3; display: inline; float: right; margin-right: 5%;
}
.flex-container {
    display: flex;
    align-items: stretch;
    height: 100px;
    background-color: #1e2d7d;
    padding: 30px 50px;
}  
  .flex-in {
    color: white;
    width: 100%;
    display: inline;
    margin: 10px;
    height: 40px;
    background-color: #1e2d7d ;
}
.flex-in img{
      height: 90%;
      vertical-align: top;
      width: 15%;
      margin-right: 40px;
  }
.flex-in input{
      width: 70%;
      height: 90%;
      vertical-align:top;
      margin: 0;
      }
  
.fit-in
  {
      height: 100%;
  }
  
.flex-in select{
    width: 10%;
    height: 100%;
    vertical-align:top;
    margin-left: -5px;
}
.flex-in button{
    width: 3%;
    height: 100%;
    vertical-align:top;
    margin-left: -5px;
}
.flex-container select 
{
  height: 100%;
  }
ul{
    color: #666666;
    padding: 20px;
}
ul li{
    display: inline;
    margin: 18px;
} 
.flex-section {
    display: flex;
    align-items: stretch;
    padding: 25px;
    margin: 0;
  }
  
.flex-section > div {
    // background-color: DodgerBlue;
        color: white;
        border-radius: 3px;
        margin: 20px;
        padding: 30px;
        height: 250px;
        width: 350px;
    width: 100%;
    overflow: hidden;
    display: inline;
    font-size: 30px;
  }

.flex-section > div >p {
    font-size: 18px;
margin: 0%;
padding: 0;}

.down {
    margin-bottom: 15px;}
.editbtn{
background-color: white;
color:red;
width: 170px;
font-size: 22px;
padding: 10px;
margin:20px 0px;
border-radius: 2px;
    }   
.firstcolor{
        background-color: #fc0373;
    }
.secondcolor{
        background-color: #6c71bd;
    }
.thirdcolor{
        background-color: #53c9c9;
    }
.textclr{
        color:#333333;
    }
 
.flex-two {
    display: flex;
    align-items: stretch;
    padding: 25px;
    margin: 0;
    color: black;
  }
  .flex-two > div {
        color: black;
        border-width: thin;
        border: 1px solid black;
        margin: 20px;
        width: 350px;
        padding: 25px;
    width: 100%;
    overflow: hidden;
    display: inline;
    font-size: 20px;
  }
.flex-two > div img{
 height: 100px;
 margin-right: 20px ;
}   
.blue-heading{
    color:#37286b;
    margin: 0px 50px;
    font-size: 20px;
    font-weight: bold;
  }
  .search-bar_input{

    height: 100%;
}
.lines{
    margin: 30px;
}
.lines>img{
    border-radius: 100%; height: 200px; width: 200px ;margin: 15px;   
}
ul li a {
    text-decoration: none;
}
.cntr-alig
{
    text-align: center;
}