*
{
box-sizing: border-box;
}
div
{
	background-color: #999999;
	margin: 50px;
	width: 350px;
	height: 520px;
	margin: 0 auto;		
	padding: 10px;
}
header
{
	background-color: #020202;
	width: 310px;
	direction: rtl;
	height: 100px;
	padding: 25px;
	margin: 0 auto;	
	font-size: xx-large;
	color: white;
	text-align: center;

}
table
{
	background-color: #FFFFFF;
	margin: 0 auto;
	border-collapse: collapse;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 2px;
}
td
{	border: 1px solid black;
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: xx-large;

}
.gray
{
	background-color: #888888;
}
.gray:hover
{
	background-color: #666666;
}
.orange
{
	color: white;
	background-color: orange;
}
.orange:hover
{
	background-color: #FF4500;
}
td:hover
{
	background-color: #cccccc;
}
td:active
{
	background-color: #e0e0d1;
	border-radius: 20px;
}