/*================ Common ================*/
/* MIXIN : MEDIA QUERIES
   *    EX : @include mq( 'lap-and-up' ) { CODE }
   * ------------------------------------------------------------------------- */
/*================ Font-family ================*/
/*================ Color ================*/
/*================ Button colors ================*/
/*================ Grid ================*/
/*================ Table color ================*/
/*================ Slider ================*/
/*================ Section Schema ================*/
/*================ Product grid ================*/
/*================ Header ================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: var(--body-bg-color); }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.blur-up {
  filter: blur(2px); }

.img-responsive {
  width: 100%;
  height: 100px;
  max-width: 100%; }

.flex-item-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 18px;
  margin: 20px;
  padding: 30px; }

.flex-item {
  flex: 25%; }

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item {
    flex: 50%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.announcement-bar {
  background-color: #1e2d7d;
  color: #ffffff;
  padding-left: 5%;
  height: 40px;
  border-bottom: 0.5px solid #ffffff; }

.inner {
  padding: 10px 0;
  display: inline;
  margin: auto; }

.header {
  background-color: #1e2d7d;
  position: relative;
  position: sticky;
  top: 0; }

.email-inner {
  padding: 10px;
  display: block;
  background-color: #5dbfe3;
  display: inline;
  float: right;
  margin-right: 5%; }

.flex-container {
  display: flex;
  align-items: stretch;
  height: 100px;
  background-color: #1e2d7d;
  padding: 30px 50px; }

.flex-in {
  color: white;
  width: 100%;
  display: inline;
  margin: 10px;
  height: 40px;
  background-color: #1e2d7d; }

.flex-in img {
  height: 90%;
  vertical-align: top;
  width: 15%;
  margin-right: 40px; }

.flex-in input {
  width: 70%;
  height: 90%;
  vertical-align: top;
  margin: 0; }

.fit-in {
  height: 100%; }

.flex-in select {
  width: 10%;
  height: 100%;
  vertical-align: top;
  margin-left: -5px; }

.flex-in button {
  width: 3%;
  height: 100%;
  vertical-align: top;
  margin-left: -5px; }

.flex-container select {
  height: 100%; }

ul {
  color: #666666;
  padding: 20px; }

ul li {
  display: inline;
  margin: 18px; }

.flex-section {
  display: flex;
  align-items: stretch;
  padding: 25px;
  margin: 0; }

.flex-section > div {
  color: white;
  border-radius: 3px;
  margin: 20px;
  padding: 30px;
  height: 250px;
  width: 350px;
  width: 100%;
  overflow: hidden;
  display: inline;
  font-size: 30px; }

.flex-section > div > p {
  font-size: 18px;
  margin: 0%;
  padding: 0; }

.down {
  margin-bottom: 15px; }

.editbtn {
  background-color: white;
  color: red;
  width: 170px;
  font-size: 22px;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 2px; }

.firstcolor {
  background-color: #fc0373; }

.secondcolor {
  background-color: #6c71bd; }

.thirdcolor {
  background-color: #53c9c9; }

.textclr {
  color: #333333; }

.flex-two {
  display: flex;
  align-items: stretch;
  padding: 25px;
  margin: 0;
  color: black; }

.flex-two > div {
  color: black;
  border-width: thin;
  border: 1px solid black;
  margin: 20px;
  width: 350px;
  padding: 25px;
  width: 100%;
  overflow: hidden;
  display: inline;
  font-size: 20px; }

.flex-two > div img {
  height: 100px;
  margin-right: 20px; }

.blue-heading {
  color: #37286b;
  margin: 0px 50px;
  font-size: 20px;
  font-weight: bold; }

.search-bar_input {
  height: 100%; }

.lines {
  margin: 30px; }

.lines > img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: 15px; }

ul li a {
  text-decoration: none; }

.cntr-alig {
  text-align: center; }

.txtt {
  text-align: center;
  font-size: 100px; }

.top-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center; }

.top-left {
  position: absolute;
  top: 30%;
  left: 0%;
  margin: 5%;
  align-content: left; }

.top-right {
  position: absolute;
  top: 30%;
  right: 0%;
  margin: 5%;
  direction: rtl;
  align-content: right; }

.rel-position {
  position:relative;
  color: black; }

.medium-font-size {
  font-size: 35px;
  margin: 15px 0px; }

.buton-slider {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 15px 0px; }

.main {
  width: 100%;
  height: 100%;
  float: left; }

.first-tag {
  top: 10px;
  left: 0;
  height: 20px;
  background-color: bisque;
  width: 40%;
  position: relative; }

.second-tag {
  top: 10px;
  margin-top: 5px;
  left: 0;
  height: 20px;
  background-color: coral;
  width: 40%;
  position: relative; }

.margin-adjust {
  margin: 2%;
  color: red;
  font-weight: bold; }

.super-padding {
  padding: 20px; }

.cntr {
  text-align: center; }

.brand-color {
  color: #333333; }

.price-tag {
  color: red;
  font-size: 20px;
  float: left;
  margin: 10px 0px; }

.price-strike {
  color: #333333;
  font-size: 15px;
  margin: 15px 15px; }

.leftt {
  float: left; }

.flex-main {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center; }

.flex-one {
  padding: 10px;
  flex: 50%; }

/* Lazyload Class */
.blur-up {
  -webkit-filter: blur(4px);
  filter: blur(4px); }

.blur-up .lazyloaded {
  -webkit-filter: blur(0px);
  filter: blur(0px); }

.img-responsive {
  width: 100%;
  height: auto;
  max-width: 100%; }

/*End of Lazyload Class */

