* {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins;
  font-size: 60.5%;
}
#wrapper {
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
}
img {
  width: 100%;
}
.logo {
  width: 20%;
  float: left;
}
.menu-item {
  width: 75%;
  float: right;
}
.menu-item ul {
  float: right;
  list-style: none;
}
.menu-area {
  overflow: hidden;
}
.menu-area ul li {
  display: inline-block;
  transition: all 0.5s ease;
}
.menu-area ul li:hover {
  background: #262626;
}
.menu-area ul li a {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.menu-area ul li:hover a {
  color: #fff;
}

.slick-dots {
  text-align: right;
  margin: 5rem;
  position: absolute;
  bottom: -25px;
  display: block;
  width: 90%;
  list-style: none;
}
.slick-dots li button:before {
  font-size: 1rem;
  color: white;
}

h5{
  position: relative;
  top: 30rem;
  left: 5rem;
  color: white;
}

h2{
  position: relative;
  top: 31rem;
  left: 5rem;
  color: white;
}

.btn{
  position: relative;
  top: 32rem;
  left: 5rem;
  border: 1px solid white;
  background-color: white;
  padding: 1rem;
}

.btn1{
  position: relative;
  top: 32rem;
  left: 5.5rem;
  border: 1px solid white;
  background-color: white;
  padding: 1rem;
}

/* button{
  position: relative;
  /* top: 32rem; */
  /* left: 5rem; */
/* } */






@media (max-width: 767px) {
  #wrapper {
    width: 100%;
  }
  .logo {
    float: none;
    width: 100%;
    text-align: center;
  }
  .menu-item {
    width: 100%;
    text-align: center;
  }
  .menu-item ul {
    float: none;
    padding: 0;
  }
  .menu-area ul li a {
    padding: 5px;
    font-size: 11px;
  }
}
