<div class="announcement-bar">
    <div class="inner">
        Free shipping on orders over $80
    </div>
    <div class="email-inner">
        <i class="fa fa-envelope"></i>
        Subscribe & Save
    </div>
    </div> 

    {% schema %}
    {
        "name" : "Announcement Bar",
        "settings" : [
        {
            "type" : "text",
            "id" : "txt",
            "label" : "Announcement"
        }
        ]
       ,
       "presets":
       [
       {
           "category" : "text",
           "name" : "Announcement"
       }
       ] 
    }
    {% endschema %}