<div>
{%- if section.settings.logo -%}
{%- render 'srcset', src_name:section.settings.logo, src_alt:shop.name-%}
{%- else -%}
<h1>{{shop.name}}</h1>
{%- endif -%}
</div>
{% schema %}
{ 
    "name": "checking blur",
    "settings": [
    {    
    "type":"image_picker",
    "id" : "logo",
    "label" : "logo"   
    }
    ]
}
{% endschema %}