      <!--
        These control flow tags check to see if there is a featured image for a collection.
        If there isn't one, then we assign the image from the first product in the collection.
      -->
      <div style="display: inline; height: 300px; border-color: greenyellow;">
        <!-- <a href="{{ collection.url }}"> -->
      <!-- </a> -->
      <div style="float: left;">
        <img src="{{block.settings.cltn.image | img_url }}" alt="" style="border-radius: 50%; background-color: khaki;"><br>
        <span style="display: inline-block; align-content: center;"> {{block.settings.cltn.title }} </span>
      </div>
      </div>
  
  
      {% schema %}
      {
          "name" : "Collection list",
          "blocks":
          [
          {
              "name" : "collection list",
              "type" : "text",
            "settings" :
            [
            {
                "type": "collection",
                "id": "cltn",
                "label": "colection menu"
            } 
            ]
            
          }
          ]      
            ,
            "presets": 
            [ 
              {
                    "category": "text",
                    "name":"collection list"
              }
            ]
      
      }
      {% endschema %}