<div style="margin: 2%; background-color: khaki; height: 440px; width: 96%;">
    <div class="main">
        <div class="multiple-items">
    <div class="first-tag"> Hello </div>
    <div class="second-tag"> Second </div>
    <div style="padding: 20px;">
    <div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div style="color: #333333;">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div style="color: red; font-size: 20px; float: left; margin: 10px 0px;"> $1,398</div>
    <div style="color: #333333; font-size: 15px;  margin: 15px 15px;"> $2,198</div>
    <div style="float: left;"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div>
    </div>
    </div>
</div>

    <script>
        $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
    </script>
    