<div class="blue-heading">DEAL ZONE</div>
<div style="margin: 2%; height: 440px; width: 96%;">
<div class="multiple-items">
    
    <div>
        <!-- <div style="width: 16.6%;"> -->
    <div class="main">
    <div class="first-tag"></div>
    <div class="second-tag"></div>
    <div class="super-padding">
    <div class="cntr"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div class="brand-color">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div class="price-tag"> $1,398</div>
    <div class="price-strike"> $2,198</div>
    <div class="leftt"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div> 
    </div>
    </div>
	
	<div>
        <!-- <div style="width: 16.6%;"> -->
    <div class="main">
    <div class="first-tag"></div>
    <div class="second-tag"></div>
    <div class="super-padding">
    <div class="cntr"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div class="brand-color">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div class="price-tag"> $1,398</div>
    <div class="price-strike"> $2,198</div>
    <div class="leftt"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div>
    </div>
    </div>
	
	<div>
        <!-- <div style="width: 16.6%;"> -->
    <div class="main">
    <div class="first-tag"></div>
    <div class="second-tag"></div>
    <div class="super-padding">
    <div class="cntr"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div class="brand-color">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div class="price-tag"> $1,398</div>
    <div class="price-strike"> $2,198</div>
    <div class="leftt"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div>
    </div>
    </div>
	
	<div>
        <!-- <div style="width: 16.6%;"> -->
    <div class="main">
    <div class="first-tag"></div>
    <div class="second-tag"></div>
    <div class="super-padding">
    <div class="cntr"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div class="brand-color">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div class="price-tag"> $1,398</div>
    <div class="price-strike"> $2,198</div>
    <div class="leftt"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div>
    </div>
    </div>
	
	<div>
        <!-- <div style="width: 16.6%;"> -->
    <div class="main">
    <div class="first-tag"></div>
    <div class="second-tag"></div>
    <div class="super-padding">
    <div class="cntr"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div class="brand-color">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div class="price-tag"> $1,398</div>
    <div class="price-strike"> $2,198</div>
    <div class="leftt"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div>
    </div>
    </div>
	
	<div>
        <!-- <div style="width: 16.6%;"> -->
    <div class="main">
    <div class="first-tag"></div>
    <div class="second-tag"></div>
    <div class="super-padding">
    <div class="cntr"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div class="brand-color">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div class="price-tag"> $1,398</div>
    <div class="price-strike"> $2,198</div>
    <div class="leftt"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div>
    </div>
    </div>
	
	<div>
        <!-- <div style="width: 16.6%;"> -->
    <div class="main">
    <div class="first-tag"></div>
    <div class="second-tag"></div>
    <div class="super-padding">
    <div class="cntr"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div class="brand-color">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div class="price-tag"> $1,398</div>
    <div class="price-strike"> $2,198</div>
    <div class="leftt"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div>
    </div>
    </div>
	
	<div>
        <!-- <div style="width: 16.6%;"> -->
    <div class="main">
    <div class="first-tag"></div>
    <div class="second-tag"></div>
    <div class="super-padding">
    <div class="cntr"><img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/products/sonyxbr55front_f72cc8ff-fcd6-4141-b9cc-e1320f867785_200x.jpg?v=1570074258"></div>
    <div class="brand-color">SONY</div>
    <div><a href="#">Sony XBR-950G BRAVIA 4K HDR Ultra HD TV</a></div>
    <div class="price-tag"> $1,398</div>
    <div class="price-strike"> $2,198</div>
    <div class="leftt"> * * * * * </div>
    <div>3 reviews</div>
    <div>in stock 77 units</div>
    </div>
    </div>
    </div>
	
	
    </div>
    <!-- </div> -->
</div>
    <script>
    $(document).ready(function(){
         $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 2
    });
    });
</script>
    
{% schema %}
{
    "name": "Deal Zone",
    "blocks" : 
	[
	{
	"name" : "Deal zone details",
	"type" : "image",
	"settings" : 
	[
	{
	"type" : "text",
	"id" : "first-tag",
	"label" : "First Tag"   
	},
	{
		"type" : "text",
		"id" : "second-tag",
		"label" : "Second Tag"   
	}
	]    
	}
	],
	"presets":
	[
	{
		"category" : "text",
		"name" : "Deal Zone"
	}
	]
}
{% endschema %}