<div class="blue-heading" style="display: inline-block;">{{section.settings.headline}}</div>
<div class="blue-heading" style=" float: right;">{{section.settings.linktitle}}</div>
<div class="multiple-items">

        {%- for product in collections[section.settings.col].products -%}        	
		{% assign val1 = product.compare_at_price_min%} 
		{% assign val2 = product.price%}

		<div style="display: inline;">
			<div style="width: 100%; display: inline; height: 320px; float: left; margin: 30px;">
			<div style="color: white; background-color: red; padding: 2px; width: max-content;">Save {{product.compare_at_price_min|minus:product.price | money}}</div>
				<div class="img">
		  <img style='height: 100%; width: 100%; object-fit: contain'/ src="{{product.featured_image | img_url: 'medium'}}" alt="{{product.title}}">
		  </div>
		  <div class="brand-color cntr-alig">{{product.vendor}}</div>
		  <div class="cntr-alig blue-heading">{{product.title}}</div>
		  <div class="price-tag cntr-alig">From {{ val2 | money}}</div>
		<div class="price-strike">{{product.compare_at_price_min | money}}</div>
		</div>
		</div>
		{%- endfor -%}
	
 </div>
 <script>
    $(document).ready(function(){
         $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 2
    });
    });
</script>
    
{% schema %}
{
    "name": "Featured collection",
    "settings" : 
	[
	{
		"type" : "text",
		"id" : "headline",
		"label" : "Heading"   
	},
	{
		"type": "text",
		"id": "linktitle",
		"label": "Link title",
		"placeholder": "Enter link title"
	},
	{
		"type": "collection",
		"id": "col",
		"label": "collection list",
		"info": "select"
	}
	],
	"presets":
	[
	{
		"category" : "text",
		"name" : "Deal Zone section"
	}
	]
}
{% endschema %}