<div class="flex-container">
    <div class="flex-in">
        {%- render 'srcset',src_name:section.settings.logoimage, src_alt:section.settings.logoimage.alt -%}
      <input type="text" placeholder="Search...">
      <!-- <select id="itemss" name="itemss">
      <option value="A/V receivers"> All categories </option>
      <option value="A/V receivers">A/V receivers</option>
      <option value="Amplifier">Amplifier</option>
      <option value="Airbuds">Airbuds</option>
      <option value="audi">Audi</option>
      </select> -->
      <!-- <button type="button">
          <i class="fa fa-search"></i>
      </button> -->
      
      </div>
  </div>
{% schema %}
{
    "name" : "header name",
    "settings" : [
    {
        "type" :"image_picker",
        "id" : "logoimage",
        "label" : "Logo"
    }
    ]
   ,
   "presets":
   [
   {
       "category" : "text",
       "name" : "Header"
   }
   ] 
}
{% endschema %}