<div class="flex-section">
    <div class="firstcolor">
    <div class="down">OLED TVs</div >
    <p>Exclusive offers on Tvs until Dec 31.</p>
    <p>$100 off on every purchase</p>
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/promotion-tvs_x2000_dbeffac0-9a5c-4dd7-be82-4f390aec55f4_x800.png?v=1560276887" style="height: 170px; width: 170px; float: right;position: relative;  bottom: 8px; right: -25px;">
            <div class="editbtn">{{section.settings.first-text}}</div>
</div>
<div class="secondcolor">
    <div class="down">Speakers</div >
    <p>Explore our range of high-quality speakers.</p>
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/speakers-promotions_x2000_3cfa90d9-1e0d-4001-9c8f-e5ca69584bdc_x800.png?v=1560276874" style="height: 170px; width: 170px; float: right;position: relative;  bottom: 8px; right: -25px;">
    <div class="editbtn">{{section.settings.second-text}}</div>
</div>
<div class="thirdcolor">
<div class="down">Headphones</div >
<p>Discover our new headphones</p>
<p>up to 25% off</p>
<img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/promotion-headphones_x2000_f4667f82-fb70-4ba6-abba-f696a2f91d9f_x800.png?v=1560276862" style="height: 170px; width: 170px; float: right;position: relative;  bottom: 8px; right: -25px;">
    <div class="editbtn">{{section.settings.third-text}}</div>
</div>  
</div>

{% schema %}
{
    "name" : "Image Categories",
    "settings" : [
    {
        "type" : "text",
        "id" : "first-text",
        "label" : "Enter category name for first Image"
    },
    {
        "type" : "text",
        "id" : "second-text",
        "label" : "Enter category name for Second Image"
    },
    {
        "type" : "text",
        "id" : "third-text",
        "label" : "Enter category name for Third Image"
    }
    ]
    ,
"presets":
[
{
    "category" : "text",
    "name" : "img text"
}
]
}
{% endschema %}