<nav>    
    <ul class="main-menu">
        {%- for link in linklists[section.settings.main-menu].links -%}
        <li>
            <a class="link{% if link.active %} active{% endif %}" href='{{link.url}}'>{{link.title}}</a>
            {%- if link.links-%}
        {%- endif -%}
        </li> 
        {%- endfor-%}
    </ul>
</nav>
{% schema %}
{
    "name" : "Navigation Bar",
    "settings" :
    [
    {
        "type": "link_list",
        "id": "main-menu",
        "label": "main menu"
    } ],
    "presets": [ 
        {
            "category": "text",
            "name":"Navigation Bar"
        }
    ]
}
{% endschema %}