<div style="text-align: center; padding: 50px;">
    <div class="blue-heading">Newsletter</div>
    <div style="padding: 20px;">{{section.settings.newsletter}}</div>
    <input type="email" id="newsl" name="newsl" width="300px">
    <input type="button" id="btn" name="btn" value="Subscribe">
    </div>

{% schema %}
{
    "name": "newsletter",
    "settings" :
        [   
    {
        "type":"richtext",
        "id": "newsletter",
        "label": "newsletter"
    } 
        ],
    "presets": 
    [
        {
            "category": "news",
            "name":"newsletter"
        }
    ]
}
{% endschema %}
