<div class="blue-heading">Popular categories</div>
<div class="lines">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/earbuds-600_abcad8d1-f772-47be-8de5-7b6e1dd45f03_300x.jpg?v=1559570781">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/earbuds-600_abcad8d1-f772-47be-8de5-7b6e1dd45f03_300x.jpg?v=1559570781">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/speakers-600_490fc860-32d7-4226-bb15-b319dfcad104_300x.jpg?v=1559570803">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/oled-tvs-600_1f8be815-fc56-40ee-81d4-a813eba17df2_300x.jpg?v=1559570835">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/turntables-600_7f5b0d89-9873-45ce-a0da-5bc6907ed9d8_300x.jpg?v=1559570860">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/subwoofers-600_2406ccc6-33ce-4565-aa2f-aa0079f816e5_300x.jpg?v=1559570818  ">
</div>
<div>
        {%- for block in section.blocks -%}
            {%- if block.settings.image-%}
            <div class="img">
                {%- render 'srcset',src_name:block.settings.image, src_alt:block.settings.image.alt -%}
            </div>
            {%- endif -%}
        {%- endfor -%}
</div>

{% schema %}
{
    "name" : "Slide show",
    "blocks" : [
    {
"name" : "Popuplar category image 1",
"type" : "image",
"settings" : 
[
    {
    "type" : "image_picker",
    "id" : "image",
    "label" : "Image"   
    }
]    
   }
   ] ,
   "presets":
   [
   {
       "category" : "image",
       "name" : "categories"
   }
   ]
}
{% endschema %}