<div class="slide">
    {%- for block in section.blocks -%}
        {%- if block.settings.sliderr-%}
        <div class="img rel-position">
				{%- render 'srcset',src_name:block.settings.sliderr, src_alt:block.settings.sliderr.alt -%}
			<div class="top-{{block.settings.sel}}">
				<div  class="medium-font-size">{{block.settings.firstline}}</div>
				<div>{{block.settings.second-line}}</div><br>
				<p><span class="buton-slider">{{block.settings.Button-text}}</span></p>
			</div>
		</div>
        {%- endif -%}
    {%- endfor -%}
</div>
{% schema %}
{
	"name" : "Slider",
	"blocks" : 
	[
	{
	"name" : "Slider Images here",
	"type" : "image",
	"settings" : 
	[
	{
	"type" : "image_picker",
	"id" : "sliderr",
	"label" : "Image"   
	},
	{
		"type" : "text",
		"id" : "firstline",
		"label" : "First line text"   
	},
	{
		"type" : "text",
		"id" : "second-line",
		"label" : "second line text"   
		},
		{
			"type" : "text",
			"id" : "Button-text",
			"label" : "Button text"   
			},
		{
				"type": "select",
				"id": "sel",
				"label": "select position",
				"options": [
					{
						"value": "left",
						"label": "left",
						"group": "po"
					},
					{
						"value": "right",
						"label": "right",
						"group": "po"
					},
					{
						"value": "center",
						"label": "center",
						"group": "po"
					}
				]
			
		}	
	]    
	}
	],
	"presets":
	[
	{
		"category" : "Image",
		"name" : "slider images"
	}
	]
}	
{% endschema %}