<div>
    {%- for block in section.blocks -%}
        {%- if block.settings.image-%}
        <div class="img">
            {%- render 'srcset',src_name:block.settings.image, src_alt:block.settings.image.alt -%}
        </div>
        {%- endif -%}
    {%- endfor -%}
</div>
{% schema %}
{
"name" : "Slide show",
"blocks" : 
[
{
"name" : "Popuplar category image 1",
"type" : "image",
"settings" : 
[
{
"type" : "image_picker",
"id" : "image",
"label" : "Image"   
}
]    
}
],
"presets":
[
{
    "category" : "Image",
    "name" : "slide sho"
}
]
}
{% endschema %} 