    <div style="padding: 5px; background-color: honeydew;">
    <div class="flex-item-container">
    {%- for block in section.blocks -%}
    {%- if block.settings.icon1-%}
	<div class="flex-item">
	<div style="display: inline; height:350px;">
				{% render 'icons',icon:{{block.settings.sel}} %}
        </div>
            <div style="padding: 5px; height: 100%; display: inline-block;">
            <div class="blue-heading" style="margin: 0;">{{block.settings.headin}}</div>
            <div>{{block.settings.conten}}</div>
            </div>
        </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
</div>

{% schema %}
{
    "name": "Text with icons",
    "blocks" : 
	[
	{
	"name" : "Inside",
	"type" : "text",
	"settings" : 
	[
	{
	"type" : "image_picker",
	"id" : "icon1",
	"label" : "icon"   
	},
	{
		"type" : "text",
		"id" : "headin",
		"label" : "Heading"   
	},
	{
		"type" : "richtext",
		"id" : "conten",
		"label" : "content"   
	},
	{
		"type": "select",
		"id": "sel",
		"label": "select icons",
		"options": [
			{
				"value": "mail",
				"label": "mail",
				"group": "A"
			},
			{
				"value": "instagram",
				"label": "instagram",
				"group": "A"
			},
			{
				"value": "facebook",
				"label": "facebook",
				"group": "A"
			},
			{
				"value": "twitter",
				"label": "twitter",
				"group": "A"
			},
			{
				"value": "youtube",
				"label": "youtube",
				"group": "A"
			}
		]
	}		
        ]	
	}
	],
	"presets":
	[
	{
		"category" : "icon-column",
		"name" : "icon-column"
	}
	]
}
{% endschema %}