<div class="flex-two">
    <div style="flex-grow: 1">
        <table>
            <tr>
                <td>
                    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/offer-1_2x_6ba50f80-1d2d-4361-a867-05ca0f32413c_250x.jpg?v=1559572262">
                </td>
                <td>
                    <div class="blue">Exclusive offers on JBL products</div>
                    We offer you a lot of discounts on all our JLB speakers, including JBL Clip 3, JBL Flip 4 or JBL Link 20 !
                </td>
            </tr>
        </table>
</div>
<div style="flex-grow: 1">
<table>
    <tr>
        <td>
            <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/offer-2_2x_26b533cd-d17a-43fe-97c8-8d0af50a398c_250x.jpg?v=1559572424">
        </td>
        <td>
            <div class="blue">Free shipping for all orders over $80</div>
            We got you covered ! We deliver your goods using UPS expedited shipping, free of charge
        </td>
    </tr>
</table>    
</div>
</div>
{% schema %}
{
    "name" : "Two columns",
    "blocks" : [
    {
"name" : "Columns Value",
"type" : "text",
"settings" : 
[
    {
    "type" : "text",
    "id" : "colstext",
    "label" : "Columns text"   
    }
]    
   }
   ] ,
   "presets":
   [
   {
       "category" : "text",
       "name" : "categories"
   }
   ]
}
{% endschema %}