<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="ten.css">
    <script src="ten.js"></script>
</head>
<body>
	<div>
		<header id="screen"></header>
		<table>
		
      			<tbody>
				<tr class="orange">
					<td onclick="clearScr()" class="gray">AC</td>
					<td onclick="clearScr()" class="gray">+/-</td>
          			<td onclick="sendNum('*0.01')" class="gray">%</td>
          			<td onclick="sendNum('/')"	class="orange">/</td>
				</tr>

				<tr>
			    		<td onclick="sendNum('7')">7</td>
			    		<td onclick="sendNum('8')">8</td>
			    		<td onclick="sendNum('9')">9</td>
			    		<td onclick="sendNum('*')" class="orange">x</td>
				</tr>
				<tr>
					<td onclick="sendNum('4')">4</td>
					<td onclick="sendNum('5')">5</td>
					<td onclick="sendNum('6')">6</td>
					<td onclick="sendNum('-')" class="orange">-</td>
					</tr>
				<tr>
					<td onclick="sendNum('1')">1</td>
					<td onclick="sendNum('2')">2</td>
					<td onclick="sendNum('3')">3</td>
					<td onclick="sendNum('+')" class="orange">+</td>
				</tr>
		
<!-- 
				<tr class="orange">
					<td onclick="sendNum('+')">+</td>
					
				</tr> -->
				<tr>
					<td onclick="sendNum('0')" colspan="2">0</td>
      					<td onclick="sendNum('.')">.</td>
					<td onclick="equalTo()" class="orange">=</td>
				</tr>	
			</tbody>
		</table>
	</div>
</body>
</html>