{% if width == blank %}
  {% assign width = 30 %}
{% endif %}
{% if height == blank %}
  {% assign height = 30 %}
  {% assign color = blue %}
{% endif %}

{% case icon %}
  {% when 'account' %}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user" viewBox="0 0 64 64" width="{{width}}" height="{{height}}"><path d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z" style="stroke: currentColor;fill: transparent;stroke-width: 2px;"></path></svg>
  {% when 'cart' %}
    <svg aria-hidden="true" focusable="false" width="{{width}}" height="{{height}}" role="presentation" viewbox="0 0 64 64" >
      <g fill="none" stroke-width="2" stroke="#000">
        <path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20"></path>
        <path d="M14.74 18h36.51l3.59 36.73h-43.7z"></path>
      </g>
    </svg>
  {% when 'search' %}
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64" width="{{width}}" height="{{height}}" style="fill: transparent;stroke: currentColor;stroke-width: 2px;"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"></path></svg>
  {% when 'close' %}
    <svg xmlns="http://www.w3.org/2000/svg" height="{{height}}" viewbox="0 0 413.348 413.348" width="{{width}}"><path d="M413.348 24.354L388.994 0l-182.32 182.32L24.354 0 0 24.354l182.32 182.32L0 388.994l24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"/></svg>
  {% when 'mobile-menu' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="{{height}}" viewbox="0 -53 384 384" width="{{width}}"><use xlink:href="#B"/><path d="M368 32H16A16.01 16.01 0 0 1 0 16 16.01 16.01 0 0 1 16 0h352a16.01 16.01 0 0 1 16 16 16.01 16.01 0 0 1-16 16zm0 0"/><use xlink:href="#B" y="122.664"/><defs><path d="M368 154.668H16a16.01 16.01 0 0 1-16-16 16.01 16.01 0 0 1 16-16h352a16.01 16.01 0 0 1 16 16 16.01 16.01 0 0 1-16 16zm0 0" id="B"/></defs>
    </svg>
  {% when 'arrow-down' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 490.656 490.656" width="{{width}}" height="{{height}}"><path d="M487.536 120.445c-4.16-4.16-10.923-4.16-15.083 0L245.34 347.58 18.203 120.467c-4.16-4.16-10.923-4.16-15.083 0s-4.16 10.923 0 15.083l234.667 234.667c2.09 2.07 4.82 3.115 7.552 3.115a10.56 10.56 0 0 0 7.531-3.136L487.537 135.53a10.68 10.68 0 0 0-.001-15.084z"/></svg>
  {% when 'arrow-up' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 511.998 511.998" width="{{width}}" height="{{height}}"><path d="M508.707 365.616L263.374 130.95c-4.125-3.938-10.625-3.938-14.75 0L3.3 365.616c-4.25 4.073-4.406 10.823-.333 15.083 4.073 4.27 10.823 4.417 15.083.333l237.958-227.615 237.958 227.615a10.63 10.63 0 0 0 15.083-.334c4.074-4.26 3.918-11.01-.332-15.082z"/></svg>
  {% when 'arrow-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 511.995 511.995" width="{{width}}" height="{{height}}"><path d="M381.04 248.62L146.373 3.287C142.3-.942 135.54-1.13 131.3 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995l-227.604 237.96c-4.063 4.26-3.917 11 .333 15.083a10.63 10.63 0 0 0 7.375 2.958 10.65 10.65 0 0 0 7.708-3.292L381.04 263.37c3.938-4.125 3.938-10.625 0-14.75z"/></svg>
  {% when 'arrow-left' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 511.991 511.991" width="{{width}}" height="{{height}}"><path d="M153.433 255.99L381.037 18.033c4.063-4.26 3.917-11-.333-15.083-4.23-4.073-10.98-3.896-15.083.333L130.954 248.616a10.69 10.69 0 0 0 0 14.75L365.62 508.7a10.65 10.65 0 0 0 7.708 3.292c2.646 0 5.313-.98 7.375-2.958 4.25-4.073 4.396-10.823.333-15.083L153.433 255.99z"/></svg>
  {% when 'facebook' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="{{width}}" height="{{height}}"><path d="M452 0H60C26.916 0 0 26.916 0 60v392c0 33.084 26.916 60 60 60h392c33.084 0 60-26.916 60-60V60c0-33.084-26.916-60-60-60zm20 452c0 11.028-8.972 20-20 20H338V309h61.8l10.2-62h-72v-43c0-16.975 13.025-30 30-30h41v-62h-41c-50.923 0-91.978 41.25-91.978 92.174V247H216v62h60.022v163H60c-11.028 0-20-8.972-20-20V60c0-11.028 8.972-20 20-20h392c11.028 0 20 8.972 20 20v392z"/></svg>
  {% when 'twitter' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 -47 512 512" width="{{width}}" height="{{height}}"><path d="M512 55.965l-35.145 1.668L495.93 3.16s-59.54 21.902-74.633 25.82c-39.64-35.63-98.562-37.203-140.687-11.312-34.496 21.207-53.012 57.625-46.836 100.19C166.637 108.543 110.07 76.72 65.4 23.07L51.285 6.105 40.73 25.488C27.39 49.98 22.96 77.984 28.254 104.34c2.172 10.813 5.863 21.125 10.977 30.78l-12.117-4.695-1.437 20.246c-1.457 20.566 5.39 44.574 18.32 64.215 3.64 5.53 8.328 11.605 14.27 17.598l-6.262-.96 7.64 23.2c10.043 30.48 30.902 54.063 57.973 67.172-27.035 11.473-48.875 18.793-84.773 30.602L0 363.293l30.336 16.586c11.566 6.324 52.438 27.445 92.82 33.78 89.766 14.078 190.832 2.613 258.87-58.664 57.31-51.613 76.113-125.03 72.207-201.434-.6-11.566 2.578-22.605 8.922-31.078L512 55.965zm-72.832 48.55c-10.535 14.066-15.812 32.03-14.867 50.578 3.94 77.066-17.027 136.832-62.328 177.63C309.055 380.383 223.7 399.1 127.8 384.047c-17.367-2.723-35.316-8.82-50.172-14.9 30.098-10.355 53.34-19.586 90.875-37.352l52.398-24.8-57.852-3.703c-27.71-1.773-50.785-15.203-64.97-37.008 7.53-.437 14.793-1.656 22.023-3.672l55.176-15.367-55.637-13.625c-27.035-6.62-42.445-22.797-50.613-35.203-5.363-8.152-8.867-16.504-10.97-24.203 5.578 1.496 12.082 2.563 22.57 3.602l51.496 5.094-40.8-31.828c-29.398-22.93-41.18-57.38-32.543-90.496 91.75 95.164 199.477 88.012 210.32 90.527-2.387-23.184-2.45-23.238-3.074-25.445-13.887-49.1 16.547-74.016 30.273-82.453 28.672-17.62 74.184-20.277 105.707 8.754 6.81 6.266 16.016 8.73 24.633 6.6 7.734-1.922 14.082-3.957 20.297-6.172L434.004 89.32l16.516.012-11.352 15.184zm0 0"/></svg>
  {% when 'instagram' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 511 511.9" width="{{width}}" height="{{height}}"><path d="M510.95 150.5c-1.2-27.2-5.598-45.898-11.898-62.102C492.55 71.2 482.55 55.8 469.45 43c-12.8-13-28.3-23.102-45.3-29.5-16.298-6.3-34.9-10.7-62.1-11.898C334.648.3 325.95 0 256.45 0s-78.2.3-105.5 1.5c-27.2 1.2-45.898 5.602-62.098 11.898C71.648 19.898 56.25 29.898 43.45 43c-13 12.8-23.098 28.3-29.5 45.3-6.3 16.3-10.7 34.898-11.898 62.098C.75 177.8.45 186.5.45 256l1.5 105.5c1.2 27.2 5.602 45.898 11.902 62.102C20.352 440.8 30.45 456.2 43.45 469c12.8 13 28.3 23.102 45.3 29.5 16.3 6.3 34.898 10.7 62.102 11.898 27.297 1.203 36 1.5 105.5 1.5l105.5-1.5c27.2-1.2 45.898-5.598 62.098-11.898a130.93 130.93 0 0 0 74.902-74.898c6.297-16.3 10.7-34.902 11.898-62.102 1.2-27.3 1.5-36 1.5-105.5l-1.3-105.5zm-46.098 209c-1.102 25-5.3 38.5-8.8 47.5a84.92 84.92 0 0 1-48.602 48.602c-9 3.5-22.598 7.7-47.5 8.797-27 1.203-35.098 1.5-103.398 1.5s-76.5-.297-103.402-1.5c-25-1.098-38.5-5.297-47.5-8.797C94.55 451.5 84.45 445 76.25 436.5a79.58 79.58 0 0 1-19.102-29.398c-3.5-9-7.7-22.602-8.797-47.5-1.203-27-1.5-35.102-1.5-103.402l1.5-103.398c1.098-25 5.297-38.5 8.797-47.5C61.25 94.2 67.75 84.102 76.352 75.898c8.297-8.5 18.297-15 29.398-19.098 9-3.5 22.602-7.7 47.5-8.8 27-1.2 35.102-1.5 103.398-1.5 68.402 0 76.5.3 103.402 1.5 25 1.102 38.5 5.3 47.5 8.8 11.098 4.098 21.2 10.598 29.398 19.098 8.5 8.3 15 18.3 19.102 29.402 3.5 9 7.7 22.598 8.8 47.5 1.2 27 1.5 35.098 1.5 103.398l-1.5 103.3zm-208.402-235c-72.598 0-131.5 58.898-131.5 131.5s58.902 131.5 131.5 131.5 131.5-58.898 131.5-131.5-58.898-131.5-131.5-131.5zm0 216.8c-47.098 0-85.3-38.2-85.3-85.3s38.203-85.3 85.3-85.3 85.3 38.2 85.3 85.3-38.2 85.3-85.3 85.3zm0 0"/><path d="M423.852 119.3c0 16.953-13.746 30.7-30.703 30.7s-30.7-13.746-30.7-30.7 13.746-30.7 30.7-30.7 30.703 13.742 30.703 30.7zm0 0"/></svg>
  {% when 'pinterest' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 496 496" width="{{width}}" height="{{height}}"><path d="M365.2 0H130.752C57.44 0 0 57.456 0 130.784v234.448C0 438.56 57.44 496 130.752 496H365.2c73.344 0 130.8-57.44 130.8-130.784V130.784C496 57.456 438.544 0 365.2 0zM464 365.216c0 56.304-42.464 98.768-98.8 98.768H130.752C74.448 463.984 32 421.536 32 365.216V130.784C32 74.464 74.448 32 130.752 32H365.2c56.336 0 98.8 42.464 98.8 98.784v234.432zM255.072 101.472c-82.64 0-124.304 57.344-124.304 105.152 0 28.96 11.328 54.704 35.6 64.32 1.024.4 2.032.608 2.976.608 2.72 0 4.912-1.664 5.744-4.832l3.568-13.52c1.152-4.224.72-5.68-2.496-9.36-7.008-8-11.504-18.352-11.504-32.992 0-42.56 32.928-80.624 85.664-80.624 46.704 0 72.368 27.616 72.368 64.496 0 48.528-22.192 89.504-55.136 89.504-18.224 0-31.824-14.576-27.456-32.432 5.232-21.328 15.376-44.336 15.376-59.712 0-13.792-7.664-25.264-23.472-25.264-18.624 0-33.568 18.608-33.568 43.568 0 15.872 5.552 26.64 5.552 26.64l-22.352 91.728c-6.656 27.216-1.008 60.592-.528 63.952.16 1.2 1.184 1.856 2.24 1.856.704 0 1.424-.288 1.888-.896 1.728-2.144 23.872-28.624 31.408-55.088 2.16-7.488 12.24-46.256 12.24-46.256 6.048 11.152 23.712 20.96 42.512 20.96 55.904 0 93.84-49.296 93.84-115.328-.016-49.968-43.712-96.48-110.16-96.48z"/></svg>
  {% when 'youtube' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 -62 512.002 512" width="{{width}}" height="{{height}}"><path d="M334.8 170.992l-113.113-61.9c-6.504-3.56-14.2-3.426-20.566.352a20.59 20.59 0 0 0-10.184 17.875v122.72c0 7.38 3.78 14.047 10.117 17.832 3.3 1.977 6.977 2.97 10.652 2.97a20.74 20.74 0 0 0 9.848-2.504L334.68 207.52a20.77 20.77 0 0 0 10.938-18.223 20.76 20.76 0 0 0-10.81-18.305zM220.95 234.6V142.9l84.54 46.258zM508.234 91.527l-.023-.234c-.434-4.12-4.75-40.777-22.57-59.422C465.043 9.94 441.7 7.277 430.46 6l-2.543-.305-.895-.094C359.336.68 257.113.008 256.1.004L256 0l-.1.004C254.887.008 152.664.68 84.367 5.602l-.902.094-2.398.3c-11.102 1.28-34.203 3.95-54.86 26.672C9.234 51.102 4.328 86.973 3.824 91.004l-.06.523C3.613 93.242 0 134.066 0 175.05v38.313c0 40.984 3.613 81.8 3.766 83.527l.027.258c.434 4.055 4.746 40.04 22.484 58.7 19.367 21.195 43.855 24 57.027 25.508 2.082.238 3.875.44 5.098.656l1.184.164c39.082 3.72 161.617 5.55 166.812 5.625l.156.004.156-.004c1.023-.004 103.242-.676 170.93-5.598l.895-.094a105.46 105.46 0 0 1 2.87-.324c11.04-1.172 34.016-3.605 54.387-26.02 16.973-18.45 21.883-54.32 22.383-58.348l.06-.523c.152-1.72 3.77-42.54 3.77-83.523v-38.31c-.004-40.984-3.617-81.805-3.77-83.523zm-26.238 121.836c0 37.934-3.312 77-3.625 80.586-1.273 9.88-6.45 32.574-14.72 41.563-12.75 14.027-25.848 15.418-35.4 16.43l-3.195.36c-65.47 4.734-163.832 5.46-168.363 5.488-5.082-.074-125.824-1.922-163.715-5.44-1.94-.316-4.04-.56-6.25-.8-11.215-1.285-26.566-3.043-38.37-16.027l-.277-.297c-8.125-8.465-13.152-29.687-14.43-41.148-.238-2.7-3.637-42.238-3.637-80.703V175.05c0-37.9 3.305-76.914 3.625-80.574 1.52-11.637 6.793-32.957 14.72-41.574C61.5 38.45 75.355 36.847 84.52 35.79l2.445-.293c66.41-4.758 165.48-5.466 169.036-5.492 3.555.023 102.6.734 168.422 5.492l2.64.313c9.426 1.074 23.672 2.7 36.746 16.645l.12.13c8.125 8.465 13.152 30.06 14.43 41.75.227 2.56 3.637 42.172 3.637 80.72zm0 0"/></svg>
  {% when 'mail' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="{{width}}" height="{{height}}"><path d="M485.743 85.333H26.257C11.815 85.333 0 97.148 0 111.59V400.4c0 14.44 11.815 26.257 26.257 26.257h459.487c14.44 0 26.257-11.815 26.257-26.257V111.59c-.001-14.44-11.816-26.256-26.258-26.256zm-9.853 19.69L271.104 258.626c-3.682 2.802-9.334 4.555-15.105 4.53-5.77.026-11.42-1.727-15.104-4.53L36.11 105.024H475.9zM366.5 268.76l111.6 137.847c.112.138.25.243.368.368H33.542c.118-.13.256-.23.368-.368L145.5 268.76a9.85 9.85 0 0 0-1.464-13.851c-4.227-3.42-10.424-2.77-13.844 1.457l-110.5 136.5V117.332l209.394 157.046c7.87 5.862 17.447 8.442 26.912 8.468 9.452-.02 19.036-2.6 26.912-8.468l209.394-157.046v275.534l-110.497-136.5c-3.42-4.227-9.623-4.877-13.844-1.457-4.234 3.42-4.884 9.624-1.463 13.85z"/></svg>
  {% else %}
  {% when 'play-button' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="{{width}}" height="{{height}}">
      <path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm-2 15.5V9l4.5 3.25L10 15.5z" fill="#fff"></path>
    </svg>
  {% when 'caret-down' %}
    <svg fill="none" width="{{width}}" height="{{height}}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="rgba(33,43,54,0.999)" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  {% else %}

{% endcase %}
