<style>
:root {
    --body-bg-color:{{settings.body_background_color}};
    --accent-color:{{settings.accent_color}};
    --font-color:{{settings.font_color}};
}
</style>

<link rel="stylesheet" href="{{ 'theme.css' | asset_url  }}">