    <html>
        <head>
            <title>Theme</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <body>
        <div class="announcement-bar">
            <div class="inner">
            Free shipping on orders over $80
        </div>
        <div class="email-inner">
            <i class="fa fa-envelope"></i>
            Subscribe & Save
        </div>  
        </div> 
        
        <div class="flex-container">
          <div class="flex-in">
              <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/logo_4031f3e7-60f6-44da-98f7-3e8b9320ef7f_175x@2x.png?v=1563384195">
              <input type="text" placeholder="Search...">
              <select id="itemss" name="itemss">
                <option value="A/V receivers"> All categories </option>
            <option value="A/V receivers">A/V receivers</option>
            <option value="Amplifier">Amplifier</option>
            <option value="Airbuds">Airbuds</option>
            <option value="audi">Audi</option>
            </select>
            <button type="button"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <table style="display: inline">
                <tr>
                    <td style="padding: 0px 30px;">
                        <p><span style="font-size: 13px;">Currency</span><br>
                            <span>USD$ ></span></p>
                    </td>
                    <td style="padding: 0px 30px;">
                        <p><span style="font-size: 13px;"></span>Login/Signup<br>My account</p>
                    </td >
                    <td style="padding: 0px 30px;">
                        <p>Cart</p>
                    </td>
                </tr>
            </table>
            </div>
        </div> 
            <ul>
                <li>All products</li>
                <li>New Arrivals</li>
                <li>Sales</li>
                <li>All Collections</li>
                <li>Brands</li>
                <li>Information</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
<!--         </div> -->
          <!-- <img src="{{settings.slider_image_1 | img_url:'master'}}" /> -->
<!-- <div class="slide">
	<div>   
	<img src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-desktop---11_1400x.jpg?v=1527703679">
</div>
<div>
	<img src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-desktop---4_1400x.jpg?v=1527703015">
</div>
<div>
	<img src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-desktop---8_1400x.jpg?v=1527703171">
</div>
<div>
	<img src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-desktop---6_1400x.jpg?v=1527703158">
</div>
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
		$('.slide').slick({accessibility: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                fade: true,
                cssEase: 'ease',});
	</script> -->
    <div class="flex-section">
        <div class="firstcolor">
            <div class="down">OLED TVs</div >
            <p>Exclusive offers on Tvs until Dec 31.</p>
            <p>$100 off on every purchase</p>
        <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/promotion-tvs_x2000_dbeffac0-9a5c-4dd7-be82-4f390aec55f4_x800.png?v=1560276887" style="height: 170px; width: 170px; float: right;position: relative;  bottom: 8px; right: -25px;">
                <div class="editbtn">{{section.settings.slider_1}}</div>
    </div>
    <div class="secondcolor">
        <div class="down">Speakers</div >
        <p>Explore our range of high-quality speakers.</p>
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/speakers-promotions_x2000_3cfa90d9-1e0d-4001-9c8f-e5ca69584bdc_x800.png?v=1560276874" style="height: 170px; width: 170px; float: right;position: relative;  bottom: 8px; right: -25px;">
            <div class="editbtn">Shop OLed Tvs</div>
</div>
<div class="thirdcolor">
    <div class="down">Headphones</div >
    <p>Discover our new headphones</p>
    <p>up to 25% off</p>
<img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/promotion-headphones_x2000_f4667f82-fb70-4ba6-abba-f696a2f91d9f_x800.png?v=1560276862" style="height: 170px; width: 170px; float: right;position: relative;  bottom: 8px; right: -25px;">
        <div class="editbtn">Shop OLed Tvs</div>
</div>
</div>

<div class="flex-two">

    <div style="flex-grow: 1">
        <table>
            <tr>
                <td>
                    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/offer-1_2x_6ba50f80-1d2d-4361-a867-05ca0f32413c_250x.jpg?v=1559572262">
                </td>
                <td>
                    <div class="blue">Exclusive offers on JBL products</div>
                    We offer you a lot of discounts on all our JLB speakers, including JBL Clip 3, JBL Flip 4 or JBL Link 20 !
                </td>
            </tr>
        </table>
</div>
<div style="flex-grow: 1">
<table>
    <tr>
        <td>
            <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/offer-2_2x_26b533cd-d17a-43fe-97c8-8d0af50a398c_250x.jpg?v=1559572424">
        </td>
        <td>
            <div class="blue">Free shipping for all orders over $80</div>
            We got you covered ! We deliver your goods using UPS expedited shipping, free of charge
        </td>
    </tr>
</table>    
</div>
</div>
<div class="blue-heading">Popular categories</div>
<div class="lines">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/headphones-600_300x.jpg?v=1559570745">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/earbuds-600_abcad8d1-f772-47be-8de5-7b6e1dd45f03_300x.jpg?v=1559570781">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/speakers-600_490fc860-32d7-4226-bb15-b319dfcad104_300x.jpg?v=1559570803">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/oled-tvs-600_1f8be815-fc56-40ee-81d4-a813eba17df2_300x.jpg?v=1559570835">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/turntables-600_7f5b0d89-9873-45ce-a0da-5bc6907ed9d8_300x.jpg?v=1559570860">
    <img src="https://cdn.shopify.com/s/files/1/0065/3095/7363/files/subwoofers-600_2406ccc6-33ce-4565-aa2f-aa0079f816e5_300x.jpg?v=1559570818  ">
</div>

<div class="blue-heading">Deal Zone</div>

</div>
</body>
</html>